    <div class="view about-view">
      <main class="main">
        <h2 class="page-title">About</h2>
        <div class="content">
          This is the <a href="/about">About</a> page.
        </div>
      </main>
    </div>
