    <div class="view home-view">
      <main class="main">
        <h2 class="page-title">Bible</h2>
        <div class="content">
          <div class="bible">
            <div class="bible-reference-selects">
              <select class="bible-reference-select bible-version-select" name="bible-version">
                <option class="bible-version-option" value="">--</option>
              </select>
              <select class="bible-reference-select bible-book-select" name="bible-book">
                <option class="bible-book-option" value="">--</option>
              </select>
              <select class="bible-reference-select bible-chapter-select" name="bible-chapter">
                <option class="bible-chapter-option" value="">--</option>
              </select>
            </div>
            <div class="bible-scripture">
              <h3 class="bible-reference"></h3>
              <div class="bible-passage"></div>
            </div>
          </div>
        </div>
      </main>
    </div>
