    <div class="view home-view">
      <main class="main">
        <h2 class="page-title">Bible</h2>
        <div class="content">
          <div class="bible"></div>
        </div>
      </main>
    </div>
