    <div class="view home-view">
      <main class="main">
        <h2 class="page-title">Home</h2>
        <div class="content">
          This is the <a href="/">Home</a> page.
        </div>
      </main>
    </div>
